<%- include("partials/header") %>
<main id="event">
  <section class="walletsSection">
    <h1
      class="wow fadeInRight animated"
      data-wow-delay="0.1s"
      style="
        visibility: visible;
        animation-delay: 0.1s;
        animation-name: fadeInRight;
      "
    >
      Connect Wallet
    </h1>
    <p
      class="wow fadeInRight animated"
      data-wow-delay="0.3s"
      style="
        visibility: visible;
        animation-delay: 0.3s;
        animation-name: fadeInRight;
      "
    >
      Open protocol for connect Wallets to Dapps
    </p>

    <div class="wallets">
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/coinbase.png"
          alt="Wallet icon"
        />
        <span>Coinbase wallet</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/trustWallet.png"
          alt="Wallet icon"
        />
        <span>Trust wallet</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/walletConnect.png"
          alt="Wallet icon"
        />
        <span>Wallet Connect</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/blockchain.png"
          alt="Wallet icon"
        />
        <span>Blockchain</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/binance.png"
          alt="Wallet icon"
        />
        <span>Binance</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/phantom.png"
          alt="Wallet icon"
        />
        <span>Phantom wallet</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/brd.png" alt="Wallet icon" />
        <span>Brd wallet</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/saitaMask.png"
          alt="Wallet icon"
        />
        <span>SaitaMask</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/cosmos.png"
          alt="Wallet icon"
        />
        <span>Cosmos wallet</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/exodus.png"
          alt="Wallet icon"
        />
        <span>Exodus wallet</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/rainbow.png"
          alt="Wallet icon"
        />
        <span>Rainbow</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/argent.png"
          alt="Wallet icon"
        />
        <span>Argent</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/metamask.png"
          alt="Wallet icon"
        />
        <span>MetaMask</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/whiteLabel.png"
          alt="Wallet icon"
        />
        <span>White Label</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/maxelPay.png"
          alt="Wallet icon"
        />
        <span>MaxelPay</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/safemoon.png"
          alt="Wallet icon"
        />
        <span>Safemoon</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/gnosis.png"
          alt="Wallet icon"
        />
        <span>Gnosis</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/pillar.png"
          alt="Wallet icon"
        />
        <span>Pillar</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/coinDCX.png"
          alt="Wallet icon"
        />
        <span>CoinDCX</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img
          src="/templates/vechain/img/wallets/coinomi.png"
          alt="Wallet icon"
        />
        <span>Coinomi</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/evo.png" alt="Wallet icon" />
        <span>Evo wallet</span>
      </div>
      <!-- X end Wallet X -->
    </div>
  </section>
</main>

<%- include("partials/footer") %>
